<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styleH.css">
    <link href="https://fonts.googleapis.com/css2?family=Saira&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Gustavo Almeida - Portfólio</title>
</head>

<body>

    <div>
        <%- include('partials/header') %>
            <section id="#habilidades" class="skills">
                <div class="Box">
                    <h1 class="titles">Programação</h1>
                    <div class="badge">
                        <img src="/images/c-sharp.png" alt="Flutter" class="icon">
                        <span>C#</span>
                    </div>

                    <div class="badge">
                        <img src="/images/js.png" alt="Flutter" class="icon">
                        <span>JavaScript</span>
                    </div>

                    <div class="badge">
                        <img src="/images/python.png" alt="Flutter" class="icon">
                        <span>Python</span>
                    </div>

                    <div class="badge">
                        <img src="/images/typescript.png" alt="" class="icon">
                        <span>TypeScript</span>
                    </div>

                    <div class="badge">
                        <img src="/images/sql-server.png" alt="" class="icon">
                        <span>Sql</span>
                    </div>

                    <div class="badge">
                        <img src="/images/html.png" alt="" class="icon">
                        <span>HTML</span>
                    </div>

                    <div class="badge">
                        <img src="/images/text.png" alt="" class="icon">
                        <span>CSS</span>
                    </div>

                    <div class="badge">
                        <img src="/images/bootstrap.png" alt="" class="icon">
                        <span>Bootstrap</span>
                    </div>

                    <div class="badge">
                        <img src="/images/Tailwind.png" alt="" class="icon">
                        <span>Tailwind CSS</span>
                    </div>

                    <!-- FERRAMENTAS -->

                    <h1 class="titles">Ferramentas</h1>

                    <div class="badge">
                        <img src="/images/logo.png" alt="" class="icon">
                        <span>Visual Studio</span>
                    </div>

                    <div class="badge">
                        <img src="/images/logovs.png" alt="" class="icon">
                        <span>Visual Studio Code</span>
                    </div>

                    <div class="badge">
                        <img src="/images/figma.png" alt="" class="icon">
                        <span>Figma</span>
                    </div>

                    <div class="badge">
                        <img src="/images/unity.png" alt="" class="icon">
                        <span>Unity</span>
                    </div>

                    <div class="badge">
                        <img src="/images/github.png" alt="" class="icon">
                        <span>GitHub</span>
                    </div>

                    <div class="badge">
                        <img src="/images/social.png" alt="" class="icon">
                        <span>Git</span>
                    </div>

                    <div class="badge">
                        <img src="/images/mysql-database.png" alt="" class="icon">
                        <span>MySql WorkBench</span>
                    </div>

                    <div class="badge">
                        <img src="/images/jira.png" alt="" class="icon">
                        <span>Jira</span>
                    </div>

                    <div class="badge">
                        <img src="/images/physics.png" alt="" class="icon">
                        <span>React</span>
                    </div>

                    <div class="badge">
                        <img src="/images/node-js.png" alt="" class="icon">
                        <span>NodeJs</span>
                    </div>

                </div>
            </section>


    </div>

</body>

</html>