* {
    margin: 0px;
    padding: 0;
}

body {
    background-color: #242424;
    justify-content: center;
}

.titles {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    margin-top: 15px;
}

.text {
    font-family: "Saira", sans-serif;
    font-size: 18px;
}

/* Projeto */

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Centraliza verticalmente */
}

.AboutMe {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Box {
    max-width: 1000px;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #a259ff;
    background-color: #313030;
    flex-wrap: wrap;
}

.myimg {
    height: 225px;
    width: 225px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #a259ff;
}

.info-texto {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    background-color: #2D2C2C;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Saira", sans-serif;
    color: #EAEAEA;
    letter-spacing: 0.3rem;
    font-weight: 300;
    border: 1px solid #a259ff;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    transform: scale3d(1.03);
    background: #9b5de5;
    border: 1px solid #a259ff;
    color: #0A0A0A;
    box-shadow: 0 0 25px #9b5de5;
}

/* Responsividade */

@media screen and (min-width: 320px) and (max-width: 375px) {
    .titles {
        font-size: 17px;
        margin-top: 10px;
    }

    .text {
        font-size: 12px;
        padding: 10px;
    }

    .info-texto {
        text-align: justify;
    }

    .myimg {
        margin-top: 10px;
        height: 115px;
        width: 115px;
        ;
    }

    .Box {
        width: 90%;
        max-width: 310px;
        padding: 2px;
    }

    .btn {
        height: 20px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btn-container{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn-container a{
        font-size: 12px;
    }

}

@media screen and (min-width: 375px) and (max-width: 425px) {
     .all{
        justify-content: baseline;
        align-items: center;
        align-content: center;
        margin-bottom: 175px;
     }

    .titles {
        font-size: 19px;
        margin-top: 12px;
    }

    .text {
        font-size: 14px;
        padding: 8px;
    }

    .info-texto {
        text-align: justify;
    }

    .myimg {
        margin-top: 10px;
        height: 130px;
        width: 130px;
        ;
    }

    .Box {
        width: 90%;
        max-width: 365px;
        padding: 2px;
    }

    .btn {
        height: 25px;
        width: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btn-container{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn-container a{
        font-size: 14px;
    }
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
    .titles {
        font-size: 22px;
        margin-top: 15px;
    }

    .text {
        font-size: 15px;
        padding: 8px;
    }

    .info-texto {
        text-align: justify;
    }

    .myimg {
        margin-top: 10px;
        height: 130px;
        width: 130px;
        ;
    }

    .Box {
        width: 90%;
        max-width: auto;
        padding: 2px;
    }

    .btn {
        height: 20px;
        width: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btn-container{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn-container a{
        font-size: 15px;
    }
}